<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Expense</title>
</head>
<body>
    <h1>Expense Tracker App</h1>
    <form action="/addexpense" method="POST">
        <div><label for="amount">Amount</label></div>
        <div><input type="number" placeholder="Enter Amount" name="amount" id="amount" required></div>
        <div><label for="description">Description</label></div>
        <div><input type="text" placeholder="Enter description" name="description" id="description" required></div>
        <div><label for="category">Choose category</label></div>
        <div>
            <select name="category" id="category">
                <option value="food">Food</option>
                <option value="fuel">Fuel</option>
                <option value="bills">Bills</option>
            </select>
        </div>
        <div><button type="submit">Submit</button></div>
    </form>
</body>
</html>